extend layouts/main

block content

  //- .title-container
    h1.title Parallax LPP
  
  header.header
    .text-block
      .text-wrapper
        h2 Flexible Solutions
        h5 for specific business needs
        p.desc B2BCard platform supports various payout models and provides API for quality operation.
        a.link(href="#")
          span Apply Now

    .back
    .logo
    .fore
    //- .img-container
      img(src="./img/observatory-new-york.jpg")
  
  section.section-01
    h2 Flexible Solutions
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem neque magni commodi maxime et cumque eligendi modi tempore, amet sequi corporis odio, ratione. A facere delectus nam suscipit voluptas.

  section.section-02.long  
