extend layouts/main

block content
  header.header
    .title-container
      h1.title Parallax LPP
    .img-container
      img(src="./img/observatory-new-york.jpg")
    section.section-01
      h2 Clothing Store
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem neque magni commodi maxime et cumque eligendi modi tempore, amet sequi corporis odio, ratione. A facere delectus nam suscipit voluptas.
