extend layouts/main

block content

  //- .title-container
    h1.title Parallax LPP
  
  header.header
    .text-block
      .text-wrapper
        h2 B2BCard -
        h5  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        p.desc  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint iusto eveniet, quidem dignissimos eum. Distinctio iste mollitia, quae vitae dolorum asperiores eligendi, molestias sint eaque repellat sit sapiente ut ipsa.
    .back
    .logo
    .fore
    //- .img-container
      img(src="./img/observatory-new-york.jpg")
  
  section.section-01
    h2 Clothing Store
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem neque magni commodi maxime et cumque eligendi modi tempore, amet sequi corporis odio, ratione. A facere delectus nam suscipit voluptas.

  section.section-02.long  
