extend layouts/main

block content

  //- .title-container
    h1.title Parallax LPP
  
  header.header

    .back
    .logo
    .fore
    .text-block
      h2 B2BCard --
      h4 a payout solution for business
      p Pay outs to your clients, customers and employees have never been easier. We offer you a comprehensive tool to construct your own card program
    //- .img-container
      img(src="./img/observatory-new-york.jpg")
  
  section.section-01
    h2 Clothing Store
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim dolorem neque magni commodi maxime et cumque eligendi modi tempore, amet sequi corporis odio, ratione. A facere delectus nam suscipit voluptas.

  section.section-02.long  
