$image-height: 100vh

.section-02
  background: white

.header
  position: relative
  z-index: 1
  height: $image-height
  background:
    image: url(/img/bg.svg)
    size: cover
    position: top center
    attachment: fixed
    repeat: no-repeat
  overflow: hidden

.logo
  height: 112px
  width: 100%
  background:
    image: url(/img/logo.svg)
    position: center
    repeat: no-repeat
    size: contain
  position: absolute
  z-index: 1
  top: 50%
  margin-top: -58px
  opacity: 0
  // transition: all .3s ease-in-out

.fore
  width: 864px
  height: 1020px
  background: 
    // color: transparentize(pink, 0.3)
    image: url(/img/home_01.png)
    size: contain
    repeat: no-repeat
    position: right bottom
  position: absolute
  z-index: 1
  margin-left: -480px
  right: 16px

.back
  width: 960px
  height: 120px
  background:
    // color: transparentize(pink, 0.3)
    image: url(/img/octocat.png)
    repeat: no-repeat
    position: top left
  position: absolute
  z-index: 1
  top: 48px
  left: 10%

.text-block
  position: absolute
  z-index: 2
  font-family: 'Libre Franklin', sans-serif;
  top: 40%
  left: 4rem
  max-width: 440px

  &:hover
    .desc, .link
      opacity: 1
      transform: translateY(0)
    .text-wrapper
      transform: translateY(-32px)
  .text-wrapper
    cursor: pointer
    position: relative
    transition: all .6s ease
  h2
    font-size: 3.5rem
    letter-spacing: -1px
    font-weight: 600
    margin-bottom: 1.5rem

  h5
    font-size: 1.5rem
    margin-bottom: 2rem
    line-height: 1.5
    font-weight: 400
  .desc, .link
    opacity: 0
    transform: translateY(24px)
  .desc
    transition: opacity .54s ease-in-out, transform .54s ease-in-out
  .link
    transition: opacity .15s .43s ease-in-out, transform .15s .43s ease-in-out
    font-weight: 600
    text-decoration: underline

.my-animated
  animation-duration: 1s
  animation-fill-mode: both

.my-fade-down
  animation-name: myFadeInDown

.my-fade-left
  animation-name: myFadeInLeft

@keyframes myFadeInDown
  0%
    opacity: 0
    transform: translate3d(0, -24px, 0)

  100%
    opacity: 1
    transform: none

@keyframes myFadeInLeft
  0%
    opacity: 0
    transform: translate3d(-24px, 0, 0)

  100%
    opacity: 1
    transform: none