$image-height: 100vh

.section-02
  background: white

.header
  position: relative
  height: $image-height
  background:
    image: url(/img/01-home-header-bg-new.svg)
    // size: auto $image-height
    size: cover
    position: top center
    attachment: fixed
    repeat: no-repeat
  overflow: hidden
  // filter: saturate(74%) brightness(1.12);


.logo
  height: 112px
  width: 100%
  background:
    image: url(/img/logo.svg)
    position: center
    repeat: no-repeat
    size: contain
  position: absolute
  top: 50%
  margin-top: -58px
  // transition: all .3s ease-in-out

.fore
  width: 864px
  height: 800px
  background: 
    // color: transparentize(pink, 0.3)
    image: url(/img/01-home-0-9.png)
    size: contain
    repeat: no-repeat
    position: right bottom
  position: absolute
  // left: 50%
  // margin-left: -480px
  right: 16px
  top: 0px

.back
  width: 960px
  height: 120px
  background:
    // color: transparentize(pink, 0.3)
    image: url(/img/octocat.png)
    repeat: no-repeat
    position: top left
  position: absolute
  top: 48px
  left: 10%

.text-block
  font-family: 'Montserrat', sans-serif